.container {
  width: calc(100vw - 50px);
  .dropzone-section {
    border-radius: 4px;
    border: 1px dashed rgba(#051e48, 0.25);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    transition: all 500ms ease;
    transition-property: background-color;
    font-family: Inter;
    color: #051e48;
    justify-content: center;

    &:hover {
      background-color: rgba(#e0f3ff, 0.02);
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      &__icon-container {
        padding: 10px;
        border-radius: 50%;
        line-height: 0;
        border: 1px solid rgba(#555555, 0.25);
      }

      &__label {
        display: flex;
        width: 190px;
      }
    }
  }

  .progress {
    display: grid;
    place-items: center;
    margin: 1em;
  }

  .selected-count,
  .converstion-time,
  .images-list {
    margin: 5px 0;
  }

  .images-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 320px;
  }

  .action-buttons {
    display: grid;
    .after-conversion {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}
